{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Formulaire calendrier
{% endblock %}

{% block body %}
    <h1>
        {% if calendrier %}
            Modifier une plage
        {% else %}
            Ajouter une plage
        {% endif %}
    </h1>

    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
